<style>

html {
  -webkit-text-size-adjust: 100%;
}

:root {
    --color-bg-default: #fffffb !important;
    --color-text-default: #151515 !important;
    --padding-right: calc(env(safe-area-inset-right) + 80px) !important;
}

body {
    -webkit-animation: fadeIn 2s !important;
    -moz-animation: fadeIn 2s !important;
    animation: fadeIn 2s !important;
}

@keyframes fadeIn { 0% { opacity: 0;} 100% { opacity: 1;} }
@-moz-keyframes fadeIn { 0% { opacity: 0;} 100% { opacity: 1;} }
@-webkit-keyframes fadeIn { 0% { opacity: 0;} 100% { opacity: 1;} }

.notion-navbar,
.notion-header,
.notion-toggle
.notion-collection__header
.notion-collection_view-block {
    display: none !important;
}

/* Navbar */
.notion-navbar {
    background: var(--color-bg-default) !important;
    height: 100px !important;
    box-shadow: none !important;
    position: fixed !important;
}
.notion-navbar>a { padding: 10 !important; }
.notion-navbar>a:hover { background: none !important; }
.notion-breadcrumb__divider { margin: -4px 4px 0 !important; }
.notion-navbar__title { overflow: visible !important; }
.notion-quote {
    padding: 0 var(--padding-right) 0 0 !important;
    height: 100px !important;
    justify-content: flex-end !important;
    align-items: center !important;
    position: fixed !important;
    font-size: 24px !important;
    z-index: 9999 !important;
    display: flex !important;
    border: none !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
}


.super-content {
    padding: 46px 0 0 40px !important;
    margin: 0 auto !important;
    max-width: 82% !important;
    width: 1180px !important;
}

h1 {
    font-weight: normal !important;
    max-width: 100% !important;
    font-size: 44px !important;
    /* width: 800px !important; */
}

h3 {
    text-transform: uppercase !important;
    margin-bottom: 24px !important;
    letter-spacing: 2px !important;
    font-weight: normal !important;
    font-size: 16px !important;
}

</style>