<style>

html {
  -webkit-text-size-adjust: 100%;
}

:root {
    --color-bg-default: #fffffb !important;
    --color-text-default: #151515 !important;
}

body {
    -webkit-animation: fadeIn 2s !important;
    -moz-animation: fadeIn 2s !important;
    animation: fadeIn 2s !important;
}

@keyframes fadeIn { 0% { opacity: 0;} 100% { opacity: 1;} }
@-moz-keyframes fadeIn { 0% { opacity: 0;} 100% { opacity: 1;} }
@-webkit-keyframes fadeIn { 0% { opacity: 0;} 100% { opacity: 1;} }

.notion-navbar,
.notion-header,
.notion-toggle
.notion-collection__header
.notion-collection_view-block {
    display: none !important;
}

.super-content {
    padding: 46px 0 0 40px !important;
    margin: 0 auto !important;
    max-width: 82% !important;
    width: 1180px !important;
}

h1 {
    font-weight: normal !important;
    max-width: 100% !important;
    font-size: 44px !important;
    /* width: 800px !important; */
}

h3 {
    text-transform: uppercase !important;
    margin-bottom: 24px !important;
    letter-spacing: 2px !important;
    font-weight: normal !important;
    font-size: 16px !important;
}

</style>